.health-section {
    background-color: #ffffff;
    width: 52rem;
    margin-top: -3rem;
    margin-left: 24rem;

    height: 12rem;
}

h1.healthy {
    margin-left: -12%;
    text-align: center;
    font-size: 22px;
    bottom: 12%;
    color: rgb(102, 54, 102);

}

.health-img {
    width: 19%;
}

.health {
    display: flex;
    align-items: center;
    justify-content: center;

}

.health-secti {
    margin-top: -19%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 249px;

}

.recipe-card {
    display: flex;
    flex-direction: row;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: transform 0.3s ease;
}

.recipe-card:hover {
    transform: scale(1.03);
}

.recipe-imag {
    width: 40%;
    height: auto;
}

.recipe-info {
    flex: 1;
    padding: 15px;
}

.healthy-title {
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-family: 'Bitter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666;
    margin-bottom: 10px;
}

.recipe-btn {
    font-family: 'Poppins';
    font-weight: 700;
    background-color: #7d3c98;
    color: #fff;
    border: none;
    padding: 10px 23px;
    cursor: pointer;
    font-size: 14px;
text-transform: uppercase;
    text-align: center;
  
}

.recipe-btn:hover {
    background-color: #413f42;
}

.recipe-card img {
    width: 36%;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
}