@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.latest-container {
  padding: 20px;
}

.greatest {
  margin-bottom: 20px;
}

.greatest h1 {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #734060;
  font-size: 18px;
  margin-left: 6%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.latest-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 69px;
  margin: 6%;
  margin-top: -1%;
  /* padding-bottom: 0px; */
}

.latest-recipe {
  display: flex;
  flex: 1 1;
  width: 68%;
  gap: 20px;
  align-items: flex-start;
  padding-bottom: 3rem;
  margin-right: 9rem;
  border-bottom: 2px solid rgb(230, 228, 228);
}

img.freezer-image {
  margin-top: -120%;
  margin-left: 71%;
}

.recipe-image {
  width: 250px;
  height: 233px;
  object-fit: cover;
 
}

.recipe-image:hover {
  background-color: rgba(255, 255, 255, 0.8); 
  opacity: 0.6; 
}

.recipe-content {
  
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.date {
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.recipe-title {
  
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* font-family:'Times New Roman', Times, serif; */
  font-weight: 600;
  font-size: 29px;
  font-weight: bold;
  color: #000000;
  margin: 5px 0;
}
.recipe-title:hover {
  text-decoration: underline;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* font-family:'Times New Roman', Times, serif; */
  font-weight: 600;
  font-size: 29px;
  font-weight: bold;
  color: #000000;
  margin: 5px 0;
}

.recipe-description {
  font:
Bitter;
font-family:
Bitter, Georgia, Cambria, "Times New Roman", Times, serif;
font-size:
16px;
line-height:
24px;
vertical-align:
baseline;
letter-spacing:
normal;
word-spacing:
0px;
font-weight:
400;
font-style:
normal;
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 10px;
}

.continue-reading {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: #ff9900;
  text-decoration: none;
  margin-top: 19px;
}

.continue-readi {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: #ff9900;
  text-decoration: none;
  margin-top: 19px;
}

.continue-reading:hover {
  color: black;
}

.continue-readi:hover {
  color: black;
}

.freezer-meals {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.recipe-collections {
  font-family: 'Sansita', sans-serif;
  padding: 20px;
background: #ffff;
  max-width: 300px;
  margin-left: 73%;
  MARGIN-TOP: -42%;
}


.recipe-collections h3 {
  font-family: 'Sansita', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: -3%;
  color: #7b4353;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.recipe-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recipe-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 24px;

  margin-top: 0;
  background-color: #efeeee;
  border-bottom: 2px solid #ffffff;
  font-family: 'Sansita', sans-serif;
  font-size: 1.1rem;
  color: #4a4a4a;
}
.recipe-item:hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 24px;
  margin-top: 0;
  background-color: #efeeee;
  border-bottom: 2px solid #ffffff;
  font-family: 'Sansita', sans-serif;
  font-size: 1.1rem;
  background-color: #ddd9d9;

}


.recipe-item:last-child {
  border-bottom: none;
}

.recipe-number {
  font-family: 'Kanit', sans-serif;
  font-size: 12px;
  font-weight: bold;
  background-color: #7b4353;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
}

.recipe-name {
  flex: 1;
  margin-left: 10px;
}

.recipe-count {
  font-family: 'Kanit', sans-serif;
  font-size: 1.1rem;
  color: #7b4353;
}


.button-container {
  text-align: center;
  margin: 20px 0;
}
.recent-posts-button {
  background-color: #6c4064;
  color: white;
  font-family: 'Poppins';
  font-weight: bold;
  margin-top: 8rem;
  margin-left: -93rem;
  padding: 13px 74px;
  text-decoration: none;
  display: inline-block;
  
  text-transform: uppercase;
}

.recent-posts-button:hover {
  background-color: #4b4b4b;
}